<div>
  <h2>TEST</h2>
 


  <form [formGroup]="myForm" (ngSubmit)="submit()">


<p>{{products[0].name}}</p>


<input type="radio" id="1" name={{products[0].id}} value={{products[0].o1}}/>{{products[0].o1}}<br/>
<input type="radio" id="2" name={{products[0].id}} value={{products[0].o2}}/>{{products[0].o2}}<br/>
<input type="radio" id="3" name={{products[0].id}} value={{products[0].o3}}/>{{products[0].o3}}<br/>
<input type="radio" id="4" name={{products[0].id}} value={{products[0].o4}}/>{{products[0].o4}}<br/>
<br>
<br>

<p>{{products[1].name}}</p>
<input type="radio" id="5" name={{products[1].id}} value={{products[1].o1}}/>{{products[1].o1}}<br/>
<input type="radio" id="6" name={{products[1].id}} value={{products[1].o2}}/>{{products[1].o2}}<br/>
<input type="radio" id="7" name={{products[1].id}} value={{products[1].o3}}/>{{products[1].o3}}<br/>
<input type="radio" id="8" name={{products[1].id}} value={{products[1].o4}}/>{{products[1].o4}}<br/>

<br>

<p>{{products[2].name}}</p>
<input type="radio" id="9" name={{products[2].id}} value={{products[2].o1}}/>{{products[2].o1}}<br/>
<input type="radio" id="10" name={{products[2].id}} value={{products[2].o2}}/>{{products[2].o2}}<br/>
<input type="radio" id="11" name={{products[2].id}} value={{products[2].o3}}/>{{products[2].o3}}<br/>
<input type="radio" id="12" name={{products[2].id}} value={{products[2].o4}}/>{{products[2].o4}}<br/>

<br>

<p>{{products[3].name}}</p>
<input type="radio" id="13" name={{products[3].id}} value={{products[3].o1}}/>{{products[3].o1}}<br/>
<input type="radio" id="14" name={{products[3].id}} value={{products[3].o2}}/>{{products[3].o2}}<br/>
<input type="radio" id="15" name={{products[3].id}} value={{products[3].o3}}/>{{products[3].o3}}<br/>
<input type="radio" id="16" name={{products[3].id}} value={{products[3].o4}}/>{{products[3].o4}}<br/>

<br>

<p>{{products[4].name}}</p>
<input type="radio" id="17" name={{products[4].id}} value={{products[4].o1}}/>{{products[4].o1}}<br/>
<input type="radio" id="18" name={{products[4].id}} value={{products[4].o2}}/>{{products[4].o2}}<br/>
<input type="radio" id="19" name={{products[4].id}} value={{products[4].o3}}/>{{products[4].o3}}<br/>
<input type="radio" id="20" name={{products[4].id}} value={{products[4].o4}}/>{{products[4].o4}}<br/>

<br>

<p>{{products[5].name}}</p>
<input type="radio" id="21" name={{products[5].id}} value={{products[5].o1}}/>{{products[5].o1}}<br/>
<input type="radio" id="22" name={{products[5].id}} value={{products[5].o2}}/>{{products[5].o2}}<br/>
<input type="radio" id="23" name={{products[5].id}} value={{products[5].o3}}/>{{products[5].o3}}<br/>
<input type="radio" id="24" name={{products[5].id}} value={{products[5].o4}}/>{{products[5].o4}}<br/>


<br>

<p>{{products[6].name}}</p>
<input type="radio" id="25" name={{products[6].id}} value={{products[6].o1}}/>{{products[6].o1}}<br/>
<input type="radio" id="26" name={{products[6].id}} value={{products[6].o2}}/>{{products[6].o2}}<br/>
<input type="radio" id="27" name={{products[6].id}} value={{products[6].o3}}/>{{products[6].o3}}<br/>
<input type="radio" id="28" name={{products[6].id}} value={{products[6].o4}}/>{{products[6].o4}}<br/>
<br>

<p>{{products[7].name}}</p>
<input type="radio" id="29" name={{products[7].id}} value={{products[7].o1}}/>{{products[7].o1}}<br/>
<input type="radio" id="30" name={{products[7].id}} value={{products[7].o2}}/>{{products[7].o2}}<br/>
<input type="radio" id="31" name={{products[7].id}} value={{products[7].o3}}/>{{products[7].o3}}<br/>
<input type="radio" id="32" name={{products[7].id}} value={{products[7].o4}}/>{{products[7].o4}}<br/>



<br>

<p>{{products[8].name}}</p>
<input type="radio" id="33" name={{products[8].id}} value={{products[8].o1}}/>{{products[8].o1}}<br/>
<input type="radio" id="34" name={{products[8].id}} value={{products[8].o2}}/>{{products[8].o2}}<br/>
<input type="radio" id="35" name={{products[8].id}} value={{products[8].o3}}/>{{products[8].o3}}<br/>
<input type="radio" id="36" name={{products[8].id}} value={{products[8].o4}}/>{{products[8].o4}}<br/>

<br>

<p>{{products[9].name}}</p>
<input type="radio" id="37" name={{products[9].id}} value={{products[9].o1}}/>{{products[9].o1}}<br/>
<input type="radio" id="38" name={{products[9].id}} value={{products[9].o2}}/>{{products[9].o2}}<br/>
<input type="radio" id="39" name={{products[9].id}} value={{products[9].o3}}/>{{products[9].o3}}<br/>
<input type="radio" id="40" name={{products[9].id}} value={{products[9].o4}}/>{{products[9].o4}}<br/>








<button onclick="test()"> SUBMIT</button>
  </form>

 

</div>
 

<div id="ans1"> </div>

 <br>

 

<div id="ans2">  </div>
<br>

<div id="ans3">  </div>
<br>

<div id="ans4">  </div>
<br>

<div id="ans5">  </div>
<br>
<div id="ans6">  </div>
<br>
<div id="ans7">  </div>
<br>
<div id="ans8">  </div>
<br>
<div id="ans9">  </div>
<br>
<div id="ans10">  </div>